.cart-section .cart-container {
    display: flex;
    align-items: start;
    gap: 2rem;
}

.cart-section .cart-list-section {
    width: 100%;
    margin-top: 2rem;

    .cart-list-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .cart-item {
        padding: 1rem 2rem;
        box-shadow: 1px 1px 2px 1px #80808057;
        border-radius: 14;
        height: fit-content;
        transition: all ease-in-out 0.3s;

        .cart-thumbnail {
            position: relative;
            width: fit-content;
            cursor: pointer;
        }

        .cart-thumbnail .thumbnail-inner {
            width: 80px;
            height: 100px;
            background-size: cover;
            border-radius: 14px;
        }

        .cart-item-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 8px;
        }

        .cart-title {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .title-x {cursor: pointer;}
        }
        .cart-price {
            display: flex;
            width: fit-content;
            align-items: center;
            gap: 8px;
            font-size: 1.2rem;
            font-weight: 600;
            color: #027a36;
        }
    }
    .cart-item:hover {
        box-shadow: 1px 1px 5px 2px #80808057;
    }
    .cart-item:hover .cart-title {
        color: #027a36;
    }

    .price-container {
        display: flex;
        align-items: end;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    .price-container .price {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #027a36;
        font-size: 1.5rem;
        font-weight: 600;
    }
    .price-container .price-discount {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        position: relative;
        font-size: 1rem;
        color: rgb(96, 96, 96);
    }
    .price-container .price-discount::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: rgba(255, 0, 0, 0.844);
        transform: rotate(-20deg);
        right: 0;
    }
    .price-container .price-save {
        height: 100%;
        padding: 3px 8px;
        background-color: red;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 0.8rem;
    }
}

.cart-section .cart-container {
    .cart-total-section {
        height: 100%;
        width: 400px;
        position: relative;
        display: flex;

        .cart-total-container {
            margin-top: 2rem;
            margin-bottom: 1rem;
            box-shadow: 1px 1px 2px 1px #80808057;
            width: 400px;
            position: sticky;
            top: 8px;

            .cart-total-title {
                padding: 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 600;
                text-transform: capitalize;
            }
            .cart-total-item {
                padding: 1rem 2rem;
            }
            .cart-total-item-list {
                padding-bottom: 1rem;
            }
            .cart-total-item-list div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                /* margin-top: 1rem; */
                .title {
                    font-size: 1rem;
                    font-weight: 500;
                }
                .price {
                    font-size: 1rem;
                    font-weight: 600;
                    color: gray;
                }
                .price.min {
                    font-size: 1rem;
                    font-weight: 600;
                    color: #027a36;
                }
            }
            .cart-subtotal {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1rem;
                margin-top: 1rem;

                .title {
                    font-size: 1.1rem;
                    font-weight: 600;
                }
                .price {
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: #027a36;
                }
            
            }
            .cart-button {
                padding: 1rem 2rem;
                margin-bottom: 1rem;
                margin-top: 1rem;

                /* button {} */
            }
        }
    }
}

.product-quantity {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #80808036;
  border-radius: 50px;
  width: fit-content;
}

@media (max-width: 900px) {

    .cart-section .cart-container {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 2rem;
    }

    .cart-section .cart-container {
        .cart-total-section {
            height: 100%;
            width: 100%;

            .cart-total-container {
                width: 100%;
            }
        }
    }
}