.top-categories {
    padding: 1rem;
    background-color: rgb(249, 245, 240);

    .swiper-wrapper-container {
        margin-bottom: 1rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .swiper-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        box-sizing: content-box;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
        /* animation: slide 35s linear infinite; */

        .swiper-slide {
            background-color: rgba(0, 0, 0, 0);
            width: 162px;
            min-width: 162px;
            margin-right: 30px;
            padding: 53px 0px 44px;
            border-radius: 10px;
            border: 1px solid #e2e2e2;
            transform: translateZ(0);
            transition: all ease-in-out 300ms;
            backface-visibility: hidden;
            cursor: pointer;
            margin-bottom: 12px;
             flex: 0 0 auto;

            .ap-multicolumn__image-wrapper {
                max-width: 80px;
                max-height: 80px;
                margin-left: auto;
                margin-right: auto;
                display: block;
                margin-bottom: 20px;
                border-radius: min(8px,var(--block-border-radius));
                overflow: hidden;

                .ap-multicolumn__image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .heading {
                text-decoration: none;
                color: #000000b4;
                font-size: 1.2rem
            }
        }

        .swiper-slide:hover {
            background-color: #ffffff !important;
            box-shadow: 0 15px 50px rgba(196, 156, 97, .2);
            border-color: transparent;

            .heading {
                color: #027a36;
            }
        }
    }
}

.swiper-wrapper-container:hover .scroll-button {
  opacity: 1;
  scale: 1;
  transition: all ease-in-out 0.3s;
  /* display: block;
  visibility: visible; */
  position: relative;
}
.scroll-button {
  opacity: 0;
  scale: 0;
  /* transition: all ease-in-out 0.3s; */
  /* display: none;
  visibility: hidden; */
  position: absolute;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 768px) {
  .swiper-slide {
    flex: 0 0 100%;  /* Take full width */
    margin-right: 0;
  }

  .swiper-wrapper-container {
    position: relative;
  }

  .swiper-wrapper {
    scroll-snap-type: x mandatory;
  }

  .swiper-slide {
    scroll-snap-align: center;
  }

  /* Optional: hide navigation buttons on mobile */
  .btn-theme-one {
    display: none;
  }
}
/* @keyframes slide {
    from { transform: translateX(0); }
    to   { transform: translateX(-20%); }
} */