.top-categories {
    padding: 1rem;
    background-color: rgb(249, 245, 240);

    .swiper-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        box-sizing: content-box;

        .swiper-slide {
            background-color: rgba(0, 0, 0, 0);
            width: 162px;
            min-width: 162px;
            margin-right: 30px;
            padding: 53px 0px 44px;
            border-radius: 10px;
            border: 1px solid #e2e2e2;
            transform: translateZ(0);
            transition: all ease-in-out 300ms;
            backface-visibility: hidden;
            cursor: pointer;
            margin-bottom: 12px;

            .ap-multicolumn__image-wrapper {
                max-width: 80px;
                max-height: 80px;
                margin-left: auto;
                margin-right: auto;
                display: block;
                margin-bottom: 20px;
                border-radius: min(8px,var(--block-border-radius));
                overflow: hidden;

                .ap-multicolumn__image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .heading {
                text-decoration: none;
                color: #000000b4;
                font-size: 1.2rem
            }
        }

        .swiper-slide:hover {
            background-color: #ffffff !important;
            box-shadow: 0 15px 50px rgba(196, 156, 97, .2);
            border-color: transparent;

            .heading {
                color: #027a36;
            }
        }
    }
}