form .form-group,
form .MuiInputBase-root{
    width: 100%;
}

.form-group-outer {
    display: flex;
    gap: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    color: rgba(0, 0, 0, 0.814);
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
}
.add-product-form .form-group label {
    color: rgba(0, 0, 0, 0.64);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
    text-transform: capitalize;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="date"],
.form-group input[type="number"],
.form-group input[type="email"],
.form-group select,
.form-group textarea {
    width: 100%;
    border: 1px solid #8080808f;
    color: #1f1f1f;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 1rem;
    background-color: white;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    outline: none;
}

.form-check {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.form-check label {
    color: rgba(0, 0, 0, 0.814);
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 0;
    display: block;
}

.form-check input[type="checkbox"] {
    height: fit-content;
    padding: 2px;
    accent-color: #027a36;
    cursor: pointer;
}

form .form-header {
    margin-bottom: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
}

.add-product-form .product-info-section {
    padding: 1rem 1rem 2rem;
    border-radius: 14px;
    box-shadow: rgba(128, 128, 128, 0.6) 1px 1px 8px 2px;
    margin-bottom: 3rem;
}