.hero1 {
    background-image: url('/images/bo_h1_slide.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 2rem 1.5rem;

    .hero1-content-inner {
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
    }

    .hero1-content-box {
        width: fit-content;
        padding: 1rem;
        padding-left: 1.5rem;

        .hero1-banner-text {
            .first-content span {
                color: #5f9f9f;
                display: block;
                font-size: 18px;
                line-height: 28px;
                text-transform: none;
                letter-spacing: 0;
                font-weight: 600;
                margin-bottom: 10px !important;
                font-family: var(--body-font-family);
            }
            .scnd-content span {
                font-weight: 600;
                /* font-size: 18px; */
                line-height: 65px;
                text-transform: none;
                letter-spacing: 0;
                font-size: 4rem;
                text-transform: uppercase;
            }
            .trd-content span {
                color: #000;
                display: block;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
            .frth-content span {}
        }
    }

    .hero1-content-outer {
        .sl-lable {
            position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);

            .inner-box {
                position: relative;
                max-width: 200px;
                max-height: 200px;
                display: inline-block;

                .discount {
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%,-50%);top: 50%;
                    font-size: 36px;
                    line-height: 36px;
                    font-weight: 900;
                    color: #fff;
                    text-transform: uppercase;
                    z-index: 1;
                }                
            }
        }
    }
}

.sl-lable .inner-box .discount-img {
    margin: 0;
    animation: spinnerRotate 6s linear infinite;
}

@keyframes spinnerRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

  .word-animation span {
    opacity: 0;
    display: inline-block;
    animation: fadeIn 1s forwards;
  }

  .word-animation span:nth-child(1) { animation-delay: 0s; }
  .word-animation span:nth-child(2) { animation-delay: 0.1s; }
  .word-animation span:nth-child(3) { animation-delay: 0.2s; }
  .word-animation span:nth-child(5) { animation-delay: 0.3s; }
  .word-animation span:nth-child(6) { animation-delay: 0.4s; }
  .word-animation span:nth-child(8) { animation-delay: 0.5s; }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
  }

  .hero1-banner {
    .shopify-section {
        background-color: #f9f5f0;
        padding: 21px 0px 21px 0px;
        overflow: hidden;

        /* .scroli */

        .text-scroll {
            grid: auto/auto-flow max-content;
            justify-content: center;
            display: grid;
            overflow: hidden;
            width: fit-content;
            animation: slide 35s linear infinite;


            .textscroll-item {
                grid: auto / auto-flow auto max-content;

                place-items: center;

                display: grid;

                animation-duration: 10s;

            }
            .sub-heading {
                font-size: 18px;
                line-height: 28px;
                text-transform: none;
                letter-spacing: 0;
                font-weight: 600;
                color: var(--sub-heading-color);
                font-family: var(--body-font-family);

                .image-content__image {
                    width: 20px;
                    /* border-radius: var(--g-radius-image);*/
                    margin-left: 30px;
                    margin-right: 30px;
                }
                .hero1-banner-text {
                    display: inline-block;
                    margin-right: 4px;
                    color: green;
                }
            }
        }

    }
  }

@keyframes slide {
    from { transform: translateX(0); }
    to   { transform: translateX(-50%); }
}

@media (max-width: 900px){
    .hero1 {
        height: fit-content;
        .hero1-content-inner {
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            top: 0;
            left: 0;
        }

        .hero1-content-box {
            width: fit-content;
            padding: 1rem;
            padding-left: 1.5rem;

            .hero1-banner-text {

                .scnd-content span {
                    line-height: 35px;
                    text-transform: none;
                    letter-spacing: 0;
                    font-size: 2rem;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .sl-lable {
      position: absolute;
      top: 80%;
      right: -11px;
      transform: translate(-50%,-50%);

    .inner-box {
        .discount {
            position: absolute;
                    left: 50%;
                    transform: translate(-50%,-50%);top: 50%;
                    font-size: 28px;
            line-height: 27px;
                    font-weight: 900;
                    color: #fff;
                    text-transform: uppercase;
                    z-index: 1;
            
        } 
        .discount-img {
            width: 100px;
            height: 100px;
        }
    }
    }
}