.profile-section {
    padding: 1rem;
}

.top-card {
    padding: 4px 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.top-card-inner {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #87ceeb30;
    padding: 1rem 2rem;
    border-radius: 14px;
    flex-wrap: wrap;
    position: relative;
}
.profile-logo-box {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 2px solid #027a36;
    border-radius: 50%;
    position: relative;

    .profile-logo-box-inner {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-size: cover;
        position: relative;
    }
}

.edit-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 1px solid #ffffff87;

    button {
        background: #027a36;
        color: white;
        transition: all ease-in-out 0.3s;
    }
    button:hover {
        background: #027a36b9;
    }
}

.profile-info-tab-outer {
    margin: 1rem 0px 2rem;
  min-width: fit-content;
}
.profile-tab-section{
    margin-top: 1rem;
}

.profile-tab-section .react-tabs {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.profile-tab-section .profile-info-tab {
    overflow: auto;
    position: relative;
}
.profile-tab-section .profile-info-tab ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: start;
  align-items: center;
  padding: 5px 10px;
}
.profile-tab-section .profile-info-tab ul li {
  font-size: 1rem;
  font-weight: 600;
  transition: all ease-in-out 0.3s;
  border-radius: 14px;
  cursor: pointer;
  border: 0;
  border-color: transparent;
  padding: 0.5rem 1.2rem;
  border-radius: 14px;
  text-transform: capitalize;
  box-shadow: 1px 1px 2px 1px #80808057;
  color: black;
  min-width: 100%;
  display: block;
}
.profile-tab-section .profile-info-tab ul li .profile-tab {
  /* padding: 0.5rem 1.2rem;
  border-radius: 14px;
  text-transform: capitalize;
  box-shadow: 1px 1px 2px 1px #80808057; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 5px;
  transition: all ease-in-out 0.3s;
  svg {
    font-size: 18px;
  }
}
.profile-tab-section .profile-info-tab ul li.react-tabs__tab--selected {
  color: white;
  background-color: #027a36;
}

.profile-tab-section .profile-info-tab ul li.react-tabs__tab--selected:hover {
  color: white;
  background-color: #027a36;
}

.profile-tab-section .profile-info-tab ul li:hover {
  color: #027a36;
  /* color: white;
  background-color: #027a36; */
}

.my-profile-sub-title {
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.my-order-section .filter-bar-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.my-order-section .search-bar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    input {
        border: 1px solid gray;
        border: 1px solid gray;
        padding: 0.5rem 1rem;
        width: 100%;
        /* border-radius: 14px; */
    }
    button {
        padding: 0.5rem 1rem;
        background-color: #027a36;
        color: white;
        /* border-radius: 14px; */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-size: 16px;
    }
    input:focus {
        outline: 1px solid #027a36;
    }
}

.my-order-section .filter-bar {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .form-group label {
        font-size: 1rem;
        font-weight: 500;
    }
}

.my-order-section .order-list-section {
    margin-top: 2rem;

    .order-list-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .order-item {
        padding: 1rem 2rem;
        box-shadow: 1px 1px 2px 1px #80808057;
        border-radius: 14;
        height: fit-content;
        cursor: pointer;
        transition: all ease-in-out 0.3s;

        .order-thumbnail {
            position: relative;
            width: fit-content;
        }

        .order-thumbnail .thumbnail-inner {
            width: 80px;
            height: 100px;
            background-size: cover;
            border-radius: 14px;
        }

        .order-item-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 8px;
        }

        .order-title {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        .order-price {
            display: flex;
            width: fit-content;
            align-items: center;
            gap: 8px;
            font-size: 1.2rem;
            font-weight: 600;
            color: #027a36;
        }
    }
    .order-item:hover {
        box-shadow: 1px 1px 5px 2px #80808057;
    }
}

.my-addresses-section {
    .new-address-section .new-address-inner {
        cursor: pointer;
        /* width: fit-content; */
        width: 100%;
        padding: 1rem 2rem;
        box-shadow: 1px 1px 2px 1px #80808057;
        height: fit-content;
        /* border-radius: 14px; */
        border: 1px solid #027a36;
        transition: all ease-in-out 0.3s;

        .new-address-btn {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            width: fit-content;
            text-transform: uppercase;
            font-weight: 600;
            color: #027a36;
        }
    }
}

.address-form-section {    
    width: 100%;
    opacity: 0;
    transition: all ease-in-out 0.3s;
    visibility: none;
    display: none;

    .form-group label {
        font-size: 1rem;
        font-weight: 500;
    }
}

.address-form-section.active {
    visibility:visible;
    opacity: 1;
    display: flex;
    gap: 2rem;
    flex-wrap: nowrap;

    .form-group label {
        font-size: 1rem;
        font-weight: 500;
    }

}

.iframe {
    width: 100%;
    height: 400px;
    border: 0;
    border-radius: 14px;
}

.address-list-section {
    margin-top: 2rem;

    .address-list-container .address-item {
        padding: 1rem 2rem;
        box-shadow: 1px 1px 2px 1px #80808057;
        width: 100%;
        margin-bottom: 1rem;

        .address-item-inner {
            position: relative;

            .address-action {
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: end;
                width: 100%;
            }
        }

        .address-type {
            background-color: rgba(128, 128, 128, 0.19);
            padding: 0.2rem 0.5rem;
            width: fit-content;
        }
        .address-title {
            font-size: 1rem;
            font-weight: 600;
            margin-top: 1rem;
        }

        .address-details {
            font-size: 0.9rem;
            font-weight: 500;
            margin-top: 0.5rem;
        }
    }
}

@media (max-width: 567px) {
    .top-card {
        padding: 10px 0;
    }
    .top-card-inner {
        justify-content: center;
    }
    .profile-tab-section .react-tabs {
        display: block;
        gap: 0;
    }
    .profile-info-tab-outer {
        margin: 1rem 0px 2rem;
        min-width: 100%;
    }
    .profile-tab-section .profile-info-tab ul{
        width: 100%;
    }
    .profile-tab-section .profile-info-tab {
        overflow: auto;
        position: relative;
    }
    .profile-tab-section .profile-info-tab ul{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 1rem;
        justify-content: start;
        align-items: center;
        padding: 10px 0;
    }
    .profile-tab-section .profile-info-tab ul li {
        font-size: 1rem;
        font-weight: 600;
        transition: all ease-in-out 0.3s;
        border-radius: 14px;
        cursor: pointer;
        border: 0;
        border-color: transparent;
        padding: 0.5rem 1.2rem;
        border-radius: 14px;
        text-transform: capitalize;
        box-shadow: 1px 1px 2px 1px #80808057;
        color: black;
        min-width: fit-content;
        display: block;
    }
    .profile-tab-section .profile-info-tab ul li .profile-tab {
        /* padding: 0.5rem 1.2rem;
        border-radius: 14px;
        text-transform: capitalize;
        box-shadow: 1px 1px 2px 1px #80808057; */
        transition: all ease-in-out 0.3s;
    }
    .profile-tab-section .profile-info-tab ul li.react-tabs__tab--selected {
        color: white;
        background-color: #027a36;
    }

    .profile-tab-section .profile-info-tab ul li.react-tabs__tab--selected:hover {
        color: white;
        background-color: #027a36;
    }

    .profile-tab-section .profile-info-tab ul li:hover {
        color: #027a36;
        /* color: white;
        background-color: #027a36; */
    }
    .form-group-outer{
        flex-wrap: wrap;
        gap: 0;
    }

    .my-order-section .filter-bar {
        width: 100%;
    }

    .my-order-section .order-list-section .order-item .order-price {
        display: none;
    }
    .status-text {
        display: none;
    }

    .my-addresses-section .new-address-section .new-address-inner {
        padding: 1rem;
    }

    .address-form-section.active {
        flex-wrap: wrap;
    }
    .address-form-section {
        flex-wrap: wrap;
    }
    .iframe {
        height: auto;
    }
}