.product-section {
    display: flex;
    flex-direction: row;
}

.filter-section {
    padding: 1rem;
    width: 25%;
    background-color: white;
}

.filter-section-box {
  height: 100%;           /* let it stretch */
}

.default-form-group {
  height: 100%;
}

.filter-section-inner {
    background-color: rgb(249, 245, 240);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
    position: sticky;
    top: 20%;   /* distance from the top when it sticks */
    z-index: 100;
    align-self: flex-start; 
}

.product-container {
    width: 75%;
}

.filter-modal .filter-modal-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
}

.filter-btn-box {
  display: none;
}

@media (max-width: 967px) {
  .filter-btn-box {
      display: block;
  }
  .product-section .filter-section {
    display: none;
  }
  .product-section .product-container {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .book-container .book-inner {
    max-width: 100%;
    height: fit-content;
  }
}