/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (max-width: 768px) {
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (max-width: 568px) {
  .col-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}


.hd-c {
  color: #000000b8;
}


@media (max-width: 900px){
  .header-search{
    display: none;
  }
}

.main-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  padding-top: 8rem;
}

@media (max-width: 900px) {
  .main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    padding-top: 7rem;
  }
}

.book-container-scroll {
  overflow: auto;
  padding-bottom: 1rem;
  position: relative;
}

.book-container {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
}

.book-container .book-inner {
  width: fit-content;
  min-width: 250px;
  border-radius: 8px;
  border: 1px solid #80808052;
  max-width: 250px;
  /* padding: 8px; */
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  height: 520px;
}

.book-container .book-inner:hover {
  border-color: #027a36;
  box-shadow: 1px 1px 8px 1px #808080a1;
}

.book-container .book-inner:hover .thumbnail img {
  transform: scale(1.1);
}

/* display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; */

.rating {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .rating-inner {
    background: white;
    padding: 5px 8px;
    border-radius: 20px;
    width: fit-content;
    position: absolute;
    top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}

.book-container .book-inner .thumbnail{
  height: 300px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    object-fit: cover;
  }
  
}

.book-container .book-inner .book-inner-content{
  padding: 1rem;

  .title {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
  }

  .author {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;

    a {
      color: gray;
    }
  }

  .price {
    font-size: 1.5rem;
    display: flex;
    font-weight: bold;
    align-items: center;
    color: #027a36;
    justify-content: center;
  }
  .btn-container {
    position: relative;
    bottom: 0;
    height: 100%;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;

    button {
      width: 100%;
      padding: 0.5rem 1rem;
      position: absolute;
      bottom: -112px;
      transition: all 0.3s ease-in-out;
      /* background-color: #027a36; */
      opacity: 0;
    }
  }
}

.book-container .book-inner:hover .book-inner-content .btn-container button{
  opacity: 1;
  bottom: auto;
}

.book-container .book-inner:hover .book-inner-content .title {
  color: #027a36;
}

@media (max-width: 700px) {
  .book-container .book-inner .book-inner-content .btn-container {
    position: relative;
    bottom: 0;
    height: 100%;
    margin-top: 1rem;
    /* transition: all 0.3s ease-in-out; */

    button {
      width: 100%;
      padding: 0.5rem 1rem;
      position: relative;
      bottom: 0;
      transition: all 0.3s ease-in-out;
      /* background-color: #027a36; */
      opacity: 1;
    }
  }
}

.breadcrumb {
  --bs-breadcrumb-padding-x: 0;
  --bs-breadcrumb-padding-y: 0;
  --bs-breadcrumb-margin-bottom: 1rem;
  --bs-breadcrumb-bg: ;
  --bs-breadcrumb-border-radius: ;
  --bs-breadcrumb-divider-color: var(--bs-secondary-color);
  --bs-breadcrumb-item-padding-x: 0.5rem;
  --bs-breadcrumb-item-active-color: var(--bs-secondary-color);
  display: flex;
  flex-wrap: wrap;
  padding: var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);
  margin-bottom: var(--bs-breadcrumb-margin-bottom);
  font-size: var(--bs-breadcrumb-font-size);
  list-style: none;
  background-color: var(--bs-breadcrumb-bg);
  border-radius: var(--bs-breadcrumb-border-radius);
  z-index: 1;
}

.breadcrumb__list {
  display: inline-flex;
  padding: 22px 0;
  margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.breadcrumb__item {
  display: flex;
  align-items: center;
  transition: all ease-in-out 0.3s;
}

.breadcrumb__link {
  color: #ffffff;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  text-transform: capitalize;
  font-weight: 400;
  font-family: var(--body-font-family);
}

.breadcrumb svg {
  width: 20px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.icon {
  display: block;
  vertical-align: middle;
  background: 0 0;
  pointer-events: none;
  overflow: visible;
}

.breadcrumb__item:hover a {
  color: #027a36;
}

.breadcrumb__item + .breadcrumb__item::before {
  content: "/";
  margin: 0 4px;
  opacity: .7;
  float: left;
  color: #ffffff;
}

.breadcrumb.black {
  --bs-breadcrumb-padding-x: 0;
  --bs-breadcrumb-padding-y: 0;
  --bs-breadcrumb-margin-bottom: 1rem;
  --bs-breadcrumb-bg: ;
  --bs-breadcrumb-border-radius: ;
  --bs-breadcrumb-divider-color: var(--bs-secondary-color);
  --bs-breadcrumb-item-padding-x: 0.5rem;
  --bs-breadcrumb-item-active-color: var(--bs-secondary-color);
  display: flex;
  flex-wrap: wrap;
  padding: var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);
  margin-bottom: var(--bs-breadcrumb-margin-bottom);
  font-size: var(--bs-breadcrumb-font-size);
  list-style: none;
  background-color: var(--bs-breadcrumb-bg);
  border-radius: var(--bs-breadcrumb-border-radius);
  z-index: 1;

  .breadcrumb__list {
    display: inline-flex;
    padding: 10px 0;
    margin: 0;
      margin-top: 0px;
      margin-bottom: 0px;
  }

  .breadcrumb__item {
    display: flex;
    align-items: center;
    transition: all ease-in-out 0.3s;
  }

  .breadcrumb__link {
    color: #080808;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 0;
    text-transform: capitalize;
    font-weight: 400;
    font-family: var(--body-font-family);
  }

  .breadcrumb svg {
    width: 20px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .icon {
    display: block;
    vertical-align: middle;
    background: 0 0;
    pointer-events: none;
    overflow: visible;
  }

  .breadcrumb__item:hover a {
    color: #027a36;
  }

  .breadcrumb__item + .breadcrumb__item::before {
    content: "/";
    margin: 0 4px;
    opacity: .7;
    float: left;
    color: #000000;
  }
}

@media (min-width: 741px) {
  .text--xsmall {
    font-size: calc(var(--base-font-size) - 2px);
    line-height: 1.5384615385;
  }
}

a:hover {
  color: #027a36;
}

.login-page {
  position: absolute;
  width: 100%;
  height: 100%;
}

.login-page .container {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.video-container {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.login-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 1rem;
  align-items: center;
  width: 100%;
  margin: 0px auto;
}

.login-form-container .login-header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.login-form , .register-form {
    width: 500px;
}
.login-form form, .register-form form {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 1px 1px 4px 2px rgba(128, 128, 128, 0.436);
    width: 100%;
    background-color: white;
}

@media (max-width: 1000px) {
  .login-page .container {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .video-container {
    display: none;
  }

  .login-form-container {
    padding: 0;
  }

  .login-form , .register-form {
    width: 100%;
  }
}

ul.react-tabs__tab-list {
  list-style: none;
}

ul.react-tabs__tab-list li{
  cursor: pointer;
  border: none;
  border-color: transparent;
  outline: none;
}

.react-tabs__tab-panel {
  opacity: 0;
  transition: all ease-in-out 0.3s;
}

.react-tabs__tab-panel.react-tabs__tab-panel--selected {
  opacity: 1;
}

label.MuiButtonBase-root {
  display: flex;
}

.add-more-image-box {
  height: 150px;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
  border-radius: 14px;
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.add-more-image-box:hover {
  background-color: #027a361a;
}
.ls-widget {
  position: relative;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(64, 79, 104, 0.267);
  margin-bottom: 30px;
}
.tabs-box {
  position: relative;
}
.widget-content {
  position: relative;
  padding: 0 30px 10px;
}
.widget-content canvas {
  border: 1px solid #80808040;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.widget-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: transparent;
  padding: 20px 30px 30px;
  min-height: 60px;
}

.col-xl-7 {
  flex: 0 0 auto;
  width: 70%;
}